@model KoiAuction.BussinessModels.CheckingProposal.CheckingProposalModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CheckingProposal</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckingProposalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckingProposalCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubmissionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubmissionDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckingDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpiredDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpiredDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TermAndCodition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TermAndCodition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Attachment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Attachment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuctionFee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuctionFee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fish.FishName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fish.FishName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CheckingProposalId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
