@model KoiAuction.Repository.Entities.Auction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Auction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuctionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuctionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuctionDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuctionDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
     
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutionMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutionMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuctionCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuctionCode)
        </dd>
      
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type.TypeName)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Type != null)
            {
                @Html.DisplayFor(model => model.Type.TypeName)
            }
            else
            {
                <span>Type information not available</span>
            }
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AuctionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
